# GDM configuration storage

[daemon]
# Uncomment the line below to force the login screen to use Xorg
#WaylandEnable=false
AutomaticLoginEnable=True
{{ if .isClient }}
AutomaticLogin=io
{{ else if .isServer -}}
AutomaticLogin=m
{{ end -}}

[security]

[xdmcp]

[chooser]

[debug]
# Uncomment the line below to turn on debugging
#Enable=true
