{{ if .isDesktop }}
<monitors version="2">
  <configuration>
    <layoutmode>logical</layoutmode>
    <logicalmonitor>
      <x>0</x>
      <y>360</y>
      <scale>2</scale>
      <monitor>
        <monitorspec>
          <connector>HDMI-1</connector>
          <vendor>GSM</vendor>
          <product>LG TV SSCR2</product>
          <serial>0x01010101</serial>
        </monitorspec>
        <mode>
          <width>3840</width>
          <height>2160</height>
          <rate>120.000</rate>
        </mode>
        <underscanning>yes</underscanning>
        <colormode>bt2100</colormode>
      </monitor>
    </logicalmonitor>
    <logicalmonitor>
      <x>1920</x>
      <y>0</y>
      <scale>1</scale>
      <primary>yes</primary>
      <monitor>
        <monitorspec>
          <connector>DP-1</connector>
          <vendor>SAM</vendor>
          <product>Odyssey G85SB</product>
          <serial>H1AK500000</serial>
        </monitorspec>
        <mode>
          <width>3440</width>
          <height>1440</height>
          <rate>119.961</rate>
        </mode>
      </monitor>
    </logicalmonitor>
    <logicalmonitor>
      <x>5360</x>
      <y>360</y>
      <scale>1</scale>
      <monitor>
        <monitorspec>
          <connector>DP-2</connector>
          <vendor>HPN</vendor>
          <product>HP 23f</product>
          <serial>3CM8420MKL   </serial>
        </monitorspec>
        <mode>
          <width>1920</width>
          <height>1080</height>
          <rate>74.973</rate>
        </mode>
      </monitor>
    </logicalmonitor>
  </configuration>
</monitors>
{{ else if .isLaptop -}}
{{ else if .isServer -}}
{{ end -}}
