#!/usr/bin/env fish
{{ if and (eq .chezmoi.os "linux") .isServer -}}

{{ include ".chezmoihelpers/status.fish" }}
{{ include ".chezmoitemplates/fish_logging.fish" }}
{{ include ".chezmoitemplates/nginx_dav_ext.fish" }}
setup_logging linux-build-nginx-dav-ext

ensure_nginx_dav_ext
or exit 1
{{ end -}}
