#!/usr/bin/env fish
{{ if eq .chezmoi.os "linux" -}}

echo "Installing Zed stable..."
curl -f https://zed.dev/install.sh | sh
or exit 1

echo "Installing Zed preview..."
curl -f https://zed.dev/install.sh | env ZED_CHANNEL=preview sh
or exit 1

echo "Installing Zed nightly..."
curl -f https://zed.dev/install.sh | env ZED_CHANNEL=nightly sh
or exit 1

{{ end -}}
