[Unit]
Description=Calibre-Web

[Service]
Type=simple
User=m
WorkingDirectory=/home/m/.tools/calibreweb/bin
ExecStart=/home/m/.tools/calibreweb/bin/python3 ./cps

[Install]
WantedBy=multi-user.target

